*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color-primary: #730039;
    --color-primary-m-light: hsla(330, 100%, 23%, 0.55);
    --color-primary-m-dark: hsla(330, 100%, 23%, 0.85);
    --color-secondary: #ffc513;
    --color-secondary-m-light: hsla(45, 100%, 54%, 0.55);
    --color-secondary-m-dark: rgba(255, 196, 19, 0.85);
    --color-tertiary: #ff724c;
    --color-tertiary-m-light: hsla(13, 100%, 65%, 0.55);
    --color-tertiary-m-dark: rgba(255, 115, 76, 0.85);
    --color-quaternary: #f6eedf;
    --color-quaternary-m-light: hsla(39, 56%, 92%, 0.55);
    --color-quaternary-m-dark: hsla(39, 56%, 92%, 0.85);
    --transition-duration: 0.3s;
    --font-size-title: calc(2rem + 2vw);
    --padding-section: 8vh 3vw;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.7;
    background-color: var(--color-quaternary);
}

.container {
    display: grid;
    grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 11rem) [col-end]) [center-end] 1fr [container-end];
    grid-template-rows: 100vh repeat(8, min-content);
}

.container>* {
    font-size: 2rem;
}

a:link,
a:visited {
    color: var(--color-quaternary);
    text-decoration: none;
    font-size: calc(0.5rem + 1vw);
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    position: relative;
    transition: all var(--transition-duration) cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

p {
    color: white;
    font-size: calc(1rem + 1vw);
    font-weight: 300;
}

li {
    list-style: none;
    margin-bottom: 4rem;
}

i {
    font-size: var(--font-size-title);
    color: var(--color-secondary);
}

header#header {
    /* background-color: var(--color-primary); */
    grid-column: container-start / container-end;
    background: linear-gradient(var(--color-primary-m-light), var(--color-primary-m-light)), url('img/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header__main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header__main-nav input[type='checkbox'] {
    position: fixed;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.header__main-nav--hamburger {
    position: fixed;
    top: 3rem;
    left: 3rem;
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    background-color: var(--color-secondary);
    z-index: 2;
    display: grid;
    place-items: center;
    animation: main-nav 2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@keyframes main-nav {
    0% {
        transform: translateX(150rem) rotate(1800deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0);
        opacity: 1;
    }
}

.header__main-nav--hamburger>div {
    position: relative;
    height: 0.3rem;
    width: 100%;
    background-color: var(--color-quaternary);
    display: grid;
    place-items: center;
    transition: all var(--transition-duration) ease-in-out;
}

.header__main-nav--hamburger>div::before,
.header__main-nav--hamburger>div::after {
    content: '';
    position: absolute;
    top: -1rem;
    width: 60%;
    height: inherit;
    background-color: inherit;
    z-index: 2;
}

.header__main-nav--hamburger>div::before {
    left: 0;
}

.header__main-nav--hamburger>div::after {
    top: 1rem;
    right: 0;
}

.header__main-nav input[type='checkbox']:checked+.header__main-nav--hamburger>div {
    transform: rotate(135deg);
}

.header__main-nav input[type='checkbox']:checked+.header__main-nav--hamburger>div::before {
    left: 0;
    top: 0;
    width: 100%;
    transform: rotate(270deg);
}

.header__main-nav input[type='checkbox']:checked+.header__main-nav--hamburger>div::after {
    opacity: 0;
}

.header__main-nav input[type='checkbox']:checked:hover+.header__main-nav--hamburger>div {
    transform: rotate(405deg);
}

.header__main-nav--menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    display: grid;
    place-items: center;
}

.header__main-nav--menu>div {
    background-color: var(--color-secondary-m-dark);
    height: 200%;
    width: 200%;
    display: grid;
    place-items: center;
    /* transform: scaleX(0); */
    transition: all .5s ease-in-out;
}

.header__main-nav--menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.header__main-nav input[type='checkbox']:checked~.header__main-nav--menu {
    visibility: visible;
}

.header__main-nav input[type='checkbox']:checked~.header__main-nav--menu>div {
    transform: scaleX(1);
}

.header__main-nav input[type='checkbox']:checked~.header__main-nav--menu>div>div {
    opacity: 1;
}

.header__main-nav--menu ul li a:link,
.header__main-nav--menu ul li a:visited {
    z-index: 5;
    font-size: calc(1.5rem + 0.5vw);
    position: relative;
}

.header__main-nav--menu ul li a:link::before,
.header__main-nav--menu ul li a:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform: scaleY(0);
    background-color: var(--color-primary-m-dark);
    transition: transform var(--transition-duration) ease-in-out;
}

.header__main-nav--menu ul li a:hover::before,
.header__main-nav--menu ul li a:active::before {
    transform: scaleY(1);
}

.header__logo__content {
    display: grid;
    grid-template-columns: 1fr minmax(30rem, 1fr) 1fr;
    grid-template-rows: min-content;
    height: 90%;
    justify-items: center;
}

.header__logo__content--logo {
    grid-column: 2 / 3;
    letter-spacing: 0.2rem;
}

.header__logo__content--logo span {
    color: var(--color-tertiary);
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
}

.header__logo__content--content {
    grid-column: 1 / -1;
    align-self: center;
}

.header__logo__content--content__title {
    font-size: calc(4rem + 4vw);
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    padding: 0 2rem 0 var(--font-size-title);
}

.header__logo__content--content__para {
    font-size: calc(1rem + 2vw);
    font-weight: 500;
    padding: 2vh 2rem 6vh var(--font-size-title);
}

.header__logo__content--content__link:link,
.header__logo__content--content__link:visited {
    margin-left: var(--font-size-title);
    border: 0.2rem solid var(--color-tertiary);
}

.header__logo__content--content__link:link::before,
.header__logo__content--content__link:visited::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-tertiary);
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(1, 0, 0, 1);
    z-index: -1;
}

.header__logo__content--content__link:hover::before,
.header__logo__content--content__link:active::before {
    transform: scaleX(1);
}

section#booking-content {
    display: grid;
    grid-column: center-start / col-end 6;
    padding: var(--padding-section);
    grid-template-rows: repeat(3, max-content);
    grid-gap: 2vh;
}

.booking-content__title {
    font-size: var(--font-size-title);
    padding: 0 2rem 1rem;
    font-weight: 300;
    position: relative;
}

.booking-content__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 0.2rem;
    width: 30%;
    background-color: var(--color-secondary);
}

.booking-content__para {
    padding: 2rem;
}

section#booking-content p,
.booking-date__contact p {
    color: var(--color-primary);
}

.booking-content__icons {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.booking-content__icons--weather,
.booking-content__icons--time {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10vh;
    justify-items: start;
    align-items: center;
}

section#booking-date {
    grid-column: col-start 7 / center-end;
    padding: var(--padding-section);
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.booking-date__schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    place-items: center;
}

.booking-date__schedule--arrival,
.booking-date__schedule--departure,
.booking-date__schedule--guests {
    display: grid;
    grid-row-gap: 3vh;
}

.booking-date__schedule--arrival h5,
.booking-date__schedule--departure h5,
.booking-date__schedule--guests h5 {
    font-size: calc(1rem + 1vw);
    text-align: center;
}

.booking-date__schedule--arrival>div,
.booking-date__schedule--departure>div,
.booking-date__schedule--guests>div {
    background-color: var(--color-secondary);
    padding: 2rem 4rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    position: relative;
}

.booking-date__schedule--arrival>div::before,
.booking-date__schedule--departure>div::before,
.booking-date__schedule--guests>div::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -1.5rem;
    border-width: 1.5rem;
    border-style: solid;
    border-color: transparent transparent var(--color-secondary);
}

.booking-date__schedule--arrival>div p:nth-of-type(2),
.booking-date__schedule--departure>div p:nth-of-type(2),
.booking-date__schedule--guests>div p:nth-of-type(2) {
    font-size: 3rem;
    font-weight: 700;
}

.booking-date__contact {
    align-self: center;
}

.booking-date__contact--link:link,
.booking-date__contact--link:visited {
    background-color: var(--color-secondary);
    color: white;
    transition: all var(--transition-duration) ease-in-out;
}

.booking-date__contact--link:hover,
.booking-date__contact--link:active {
    background-color: white;
    color: var(--color-secondary);
    border: 0.1rem solid var(--color-secondary);
}

.booking-date__contact p:first-of-type {
    margin-top: 4rem;
}

.booking-date__contact p {
    font-size: 2rem;
}

section#villas {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

section#motto {
    background-color: var(--color-secondary);
    grid-column: container-start / container-end;
    height: 400px;
}

section#events-content {
    background-color: var(--color-tertiary);
    grid-column: container-start / col-end 9;
    height: 400px;
}

section#events-text {
    background-color: var(--color-primary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}

section#gallery-text {
    background-color: var(--color-secondary);
    grid-column: center-start / col-end 1;
    height: 400px;
}

section#gallery-carousel {
    background-color: var(--color-tertiary);
    grid-column: col-start 2 / container-end;
    height: 400px;
}

section#features-content {
    background-color: var(--color-primary);
    grid-column: container-start / col-end 9;
    height: 400px;
}

section#features-text {
    background-color: var(--color-secondary);
    grid-column: col-start 10 / center-end;
    height: 400px;
}

section#testimonials {
    background-color: var(--color-tertiary);
    grid-column: center-start / center-end;
    height: 400px;
}

footer#footer {
    background-color: var(--color-primary);
    grid-column: container-start / container-end;
    height: 400px;
}

@media screen and (max-width: 1000px) {
    a:link,
    a:visited {
        font-size: calc(1rem + 1vw);
    }
}

@media screen and (max-width: 800px) {
    section#booking-content {
        grid-column: center-start / center-end;
        padding: 4vh 3vw;
    }
    .booking-content__title {
        text-align: center;
    }
    .booking-content__title::after {
        width: 20%;
        left: 40%;
    }
    section#booking-date {
        grid-column: center-start / center-end;
        padding: 4vh 3vw;
        grid-row-gap: 7vh;
    }
    .booking-date__schedule--arrival>div,
    .booking-date__schedule--departure>div,
    .booking-date__schedule--guests>div {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min-content;
        grid-column-gap: 2vw;
        place-items: center;
        padding: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .header__logo__content--content__para {
        font-size: 2rem;
    }
    .booking-content__para {
        font-size: 1.5rem;
    }
    section#booking-date {
        grid-template-rows: repeat(2, max-content);
    }
    .booking-date__schedule--arrival>div,
    .booking-date__schedule--departure>div,
    .booking-date__schedule--guests>div {
        padding: 4rem;
        grid-template-columns: min-content;
    }
}

@media screen and (max-width: 400px) {
    .booking-date__schedule {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: auto;
        grid-row-gap: 4vh;
    }
    .booking-date__contact {
        justify-self: center;
        padding: 0 2rem;
    }
}